.metadata
.settings
.classpath
.project
.idea
*.iml
*.ipr
*.iws
.vscode
.editorconfig
.cache
.sass-cache
*.ts
!*.d.ts
.git
.gitignore
.npmignore
.github
*.iml
*.log
*.html
*.png
target
node_modules
typings
dist
tsconfig.json
tslint.json
config
docs